.r-rgog,
.a-rgog,
.p-rgog,
.g-rgog,
.e-rgog,
.n-rgog,
.i-rgog,
.e1-rgog,
.o-rgog,
.u-rgog,
.g1-rgog,
.e2-rgog,
.n1-rgog,
.a1-rgog,
.n2-rgog,
.t-rgog {
  color: #2704c4;
  text-shadow: 0 2px #000000, 0 3px #000000, 0 5px #000000;
}

.r-rgog {
  animation: bounce 1s ease 1 0s;
}

.a-rgog {
  animation: bounce 1s ease 1 0.1s;
}

.p-rgog {
  animation: bounce 1s ease 1 0.2s;
}

.g-rgog {
  animation: bounce 1s ease 1 0.3s;
}

.e-rgog {
  animation: bounce 1s ease 1 0.4s;
}
.n-rgog {
  animation: bounce 1s ease 1 0.5s;
}

.i-rgog {
  animation: bounce 1s ease 1 0.6s;
}

.e1-rgog {
  animation: bounce 1s ease 1 0.7s;
}

.o-rgog {
  animation: bounce 1s ease 1 0.8s;
}

.u-rgog {
  animation: bounce 1s ease 1 0.9s;
}
.g1-rgog {
  animation: bounce 1s ease 1 1s;
}

.e2-rgog {
  animation: bounce 1s ease 1 1.2s;
}

.n1-rgog {
  animation: bounce 1s ease 1 1.3s;
}
.a1-rgog {
  animation: bounce 1s ease 1 1.4s;
}
.n2-rgog {
  animation: bounce 1s ease 1 1.5s;
}
.t-rgog {
  animation: bounce 1s ease 1 1.6s;
}
