.t-top5,
.o-top5,
.p-top5,
.five-top5 {
  color: #2704c4;
  text-shadow: 0 3px #000000, 0 5px #000000, 0 7px #000000;
}

.t-top5 {
  animation: bounce 3s ease 1;
}

.o-top5 {
  animation: bounce 3s ease 1 0.1s;
}

.p-top5 {
  animation: bounce 3s ease 1 0.2s;
}

.five-top5 {
  animation: bounce 3s ease 1 0.3s;
}
