.HomeRulesContainer{
    display:flex;
    justify-content: center;
    align-items: center;
}

.HomeRulesText{
    display:flex;
    text-align: center;
}

.HomeTeamButton{
    display:flex;
    justify-content: center;
}